# Parse the sql to encode and decode only some parts of it

In [1]:
import sqlparse

# Define the SQL statement
sql_statement = "SELECT name, age, email FROM users"

# Parse the SQL statement using sqlparse
parsed_statement = sqlparse.parse(sql_statement)[0]

print(parsed_statement)

# Extract the field names from the SELECT statement
# fields = [str(token) for token in parsed_statement.tokens if token.ttype is sqlparse.tokens.Name]

# # Print the field names
# print(fields)

SELECT name, age, email FROM users

In [2]:
import glob
dir(sqlparse)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'cli',
 'engine',
 'exceptions',
 'filters',
 'format',
 'formatter',
 'keywords',
 'lexer',
 'parse',
 'parsestream',
 'split',
 'sql',
 'tokens',
 'utils']

In [ ]:
raw = 'select * from foo; select * from bar;'
statements = sqlparse.split(raw)
statements

['select * from foo;', 'select * from bar;']

In [5]:
# Format the first statement and print it out:
first = statements[0]
print(sqlparse.format(first, reindent=True, keyword_case='upper'))

SELECT *
FROM foo;

In [4]:
parsed = sqlparse.parse('select order.orderid, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc')[0]
parsed.tokens

[<DML 'select' at 0x118EAAE60>,
 <Whitespace ' ' at 0x11990D900>,
 <IdentifierList 'order....' at 0x119909F50>,
 <Whitespace ' ' at 0x11990F880>,
 <Keyword 'from' at 0x11990F8E0>,
 <Whitespace ' ' at 0x11990F940>,
 <Identifier 'orders...' at 0x119909CB0>,
 <Whitespace ' ' at 0x11990FAC0>,
 <Keyword 'join' at 0x11990FB20>,
 <Whitespace ' ' at 0x11990FB80>,
 <Identifier 'revenu...' at 0x119909D90>,
 <Whitespace ' ' at 0x11990FD00>,
 <Keyword 'on' at 0x11990FD60>,
 <Whitespace ' ' at 0x11990FDC0>,
 <Comparison 'r.orde...' at 0x119909EE0>,
 <Whitespace ' ' at 0x119934220>,
 <Keyword 'order ...' at 0x119934280>,
 <Whitespace ' ' at 0x1199342E0>,
 <Identifier 'order....' at 0x119909E70>]

In [23]:
# Parsing a SQL statement:
parsed = sqlparse.parse('select order.orderid, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc')[0]
parsed_tokens = parsed.tokens
for i, token in enumerate(parsed_tokens):
    print(f"Token {i}: {token}")

Token 0: select
Token 1:
Token 2: order.orderid, order.order_name, revenue.order_id, r.product_name, revenue.cost
Token 3:
Token 4: from
Token 5:
Token 6: orders o
Token 7:
Token 8: join
Token 9:
Token 10: revenue r
Token 11:
Token 12: on
Token 13:
Token 14: r.order_id  = r.order_id
Token 15:
Token 16: order by
Token 17:
Token 18: order.orderid desc

In [24]:
parsed_tokens = parsed.tokens
token_counts = {}

for i, token in enumerate(parsed_tokens):
    tok_type = type(token).__name__
    if tok_type in token_counts:
        token_counts[tok_type] += 1
    else:
        token_counts[tok_type] = 1

for tok_type, count in token_counts.items():
    print(f"{tok_type}: {count}")

Token: 14
IdentifierList: 1
Identifier: 3
Comparison: 1

In [17]:
#rewrite above function but return a list of fields per type in a data table
def get_fields(parsed):
    parsed_tokens = parsed.tokens
    token_counts = {}
    for i, token in enumerate(parsed_tokens):
        tok_type = type(token).__name__
        if tok_type in token_counts:
            token_counts[tok_type].append(token)
        else:
            token_counts[tok_type] = [token]
    #return a dictionary of types and their corresponding tokens in a data table
    return token_counts

In [61]:
from sqlparse import parse

# Example SQL query
#query = "select order.order_id, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc"
query = "SELECT first_name, last_name FROM employees WHERE salary > 50000"

# Parse the query into tokens
parsed = parse(query)[0]

# Get the fields in the parsed query
fields = get_fields(parsed)

# Print out the types and tokens in the data table
for tok_type, tokens in fields.items():
    print(f"{tok_type}: {tokens}")

Token: ['SELECT', ' ', ' ', 'FROM', ' ', ' ']
IdentifierList: ['first_name, last_name']
Identifier: ['employees']
Where: ['WHERE salary > 50000']

In [ ]:
import sqlparse

def get_identifiers(parsed):
    parsed_tokens = parsed.tokens
    identifiers = []
    for token in parsed_tokens:
        tok_type = type(token).__name__
        if tok_type == 'Whitespace':
            continue
        elif tok_type == 'Keyword':
            continue
        elif tok_type == 'Identifier':
            identifier = str(token)
            if '.' in identifier:
                identifiers.extend(identifier.split('.'))
            else:
                identifiers.append(identifier)
        elif tok_type == 'Name':
            identifiers.append(str(token))
    return identifiers

#sql = "SELECT first_name, last_name FROM employees WHERE department='Sales'"
sql = "select order.order_id, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc"

parsed = sqlparse.parse(sql)[0]
identifiers = get_identifiers(parsed)
print(identifiers)

['orders o', 'revenue r', 'order', 'orderid desc']

In [ ]:
import sqlparse

def get_identifiers(parsed):
    parsed_tokens = parsed.tokens
    identifiers = []
    for token in parsed_tokens:
        tok_type = type(token).__name__
        if tok_type == 'Whitespace':
            continue
        elif tok_type == 'Keyword':
            continue
        elif tok_type == 'Identifier':
            identifier = str(token)
            if '.' in identifier:
                identifiers.extend(identifier.split('.'))
            else:
                identifiers.append(identifier)
        elif tok_type == 'Name':
            identifiers.append(str(token))
    return identifiers

#sql = "SELECT first_name, last_name FROM employees WHERE department='Sales'"
sql = "select order.order_id, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc"

parsed = sqlparse.parse(sql)[0]
identifiers = get_identifiers(parsed)
print(identifiers)

['orders o', 'revenue r', 'order', 'orderid desc']

In [ ]:
import sqlparse

def get_identifiers(parsed):
    parsed_tokens = parsed.tokens
    identifiers = []
    for token in parsed_tokens:
        tok_type = type(token).__name__
        if tok_type == 'Whitespace':
            continue
        elif tok_type == 'Keyword':
            continue
        elif tok_type == 'Identifier':
            identifier = str(token)
            if '.' in identifier:
                identifiers.extend(identifier.split('.'))
            else:
                identifiers.append(identifier)
        elif tok_type == 'Name':
            identifiers.append(str(token))
    return identifiers

#sql = "SELECT first_name, last_name FROM employees WHERE department='Sales'"
sql = "select order.order_id, order.order_name, revenue.order_id, r.product_name, revenue.cost from orders o join revenue r on r.order_id  = r.order_id order by order.orderid desc"

parsed = sqlparse.parse(sql)[0]
identifiers = get_identifiers(parsed)
print(identifiers)

['orders o', 'revenue r', 'order', 'orderid desc']

In [42]:
import sqlparse

sql = "SELECT column1, column2 FROM table1 WHERE column3 = 'value'"
parsed = sqlparse.parse(sql)[0]

identifiers = get_identifiers(parsed)
print(identifiers)

['column1', 'column2', 'table1']

In [50]:
def get_identifier_list(parsed):
    parsed_tokens = parsed.tokens
    identifier_list = []
    for token in parsed_tokens:
        tok_type = type(token).__name__
        if tok_type == 'IdentifierList':
            for identifier in token.get_identifiers():
                if not isinstance(identifier, sqlparse.sql.Identifier):
                    continue
                identifier_name = identifier.get_name()
                if '.' in identifier_name:
                    identifier_name = identifier_name.split('.')[1]
                identifier_list.append(identifier_name)
    return identifier_list

In [52]:
import sqlparse

sql = "SELECT column1, column2 FROM table1 WHERE column3 = 'value'"
parsed = sqlparse.parse(sql)[0]

identifier_list = get_identifier_list(parsed)
print(identifier_list)

['column1', 'column2']

In [72]:
def get_tok_types(parsed):
    parsed_tokens = parsed.tokens
    tok_types = []
    for token in parsed_tokens:
        tok_type = type(token).__name__
        if tok_type in ['Identifier', 'Comparison', 'IdentifierList', 'Where']:
            tok_types.append(tok_type)
    return tok_types

In [73]:
import sqlparse

query = "SELECT first_name, last_name FROM employees WHERE salary > 50000"
parsed_query = sqlparse.parse(query)[0]
tok_types = get_tok_types(parsed_query)
print(tok_types)

['IdentifierList', 'Identifier', 'Where']

In [226]:
import sqlparse

query = "Select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id"
parsed_query = sqlparse.parse(query)[0]
parsed_query.tokens
#print(parsed_query.tokens)
# tok_types = get_identifiers(query)
# print(tok_types)

[<Identifier 'elect ...' at 0x119F04740>,
 <Whitespace ' ' at 0x11AB80280>,
 <Integer '10' at 0x11AB801C0>,
 <Whitespace ' ' at 0x11AB825C0>,
 <IdentifierList 'getdat...' at 0x11AADB4C0>,
 <Whitespace ' ' at 0x11AB81900>,
 <Keyword 'from' at 0x11AB827A0>,
 <Whitespace ' ' at 0x11AB818A0>,
 <Identifier 'orders...' at 0x119F04200>,
 <Whitespace ' ' at 0x11AAB41C0>,
 <Keyword 'join' at 0x11AAB4040>,
 <Whitespace ' ' at 0x11AAB46A0>,
 <Identifier 'revenu...' at 0x119F044A0>,
 <Whitespace ' ' at 0x11AAB4DC0>,
 <Keyword 'on' at 0x11AAB4D60>,
 <Whitespace ' ' at 0x11AAB50C0>,
 <Comparison 'o.orde...' at 0x11AADB680>]

In [ ]:
lst = ['first_name', 'employees', 'last_name', 'salary', 'department']

# Mask string literals in the list
masked_lst = mask_string_literals(lst)
print(masked_lst)  # Output: ["'first_name'", 'employees', "'last_name'", "'salary'", "'department'"]

# Unmask string literals in the list
unmasked_lst = unmask_string_literals(masked_lst)
print(unmasked_lst)  # Output: ['first_name', 'employees', 'last_name', 'salary', 'department']

# # Apply mask to SQL code
# sql = "SELECT first_name FROM employees WHERE department = 'Sales'"
# masked_sql = apply_mask_to_sql(sql)
# print(masked_sql)  # Output: "SELECT first_name FROM employees WHERE department = ''Sales''"

['first_name', 'employees', 'last_name', 'salary', 'department']
['first_name', 'employees', 'last_name', 'salary', 'department']

In [ ]:
lst = ['first_name', 'employees', 'last_name', 'salary', 'department']

# Mask string literals in the list
masked_lst = mask_string_literals(lst)
print(masked_lst)  # Output: ["'first_name'", 'employees', "'last_name'", "'salary'", "'department'"]

# Unmask string literals in the list
unmasked_lst = unmask_string_literals(masked_lst)
print(unmasked_lst)  # Output: ['first_name', 'employees', 'last_name', 'salary', 'department']

# # Apply mask to SQL code
# sql = "SELECT first_name FROM employees WHERE department = 'Sales'"
# masked_sql = apply_mask_to_sql(sql)
# print(masked_sql)  # Output: "SELECT first_name FROM employees WHERE department = ''Sales''"

['first_name', 'employees', 'last_name', 'salary', 'department']
['first_name', 'employees', 'last_name', 'salary', 'department']

In [ ]:
lst = ['first_name', 'employees', 'last_name', 'salary', 'department']

# Mask string literals in the list
masked_lst = mask_string_literals(lst)
print(masked_lst)  # Output: ["'first_name'", 'employees', "'last_name'", "'salary'", "'department'"]

# Unmask string literals in the list
unmasked_lst = unmask_string_literals(masked_lst)
print(unmasked_lst)  # Output: ['first_name', 'employees', 'last_name', 'salary', 'department']

# # Apply mask to SQL code
# sql = "SELECT first_name FROM employees WHERE department = 'Sales'"
# masked_sql = apply_mask_to_sql(sql)
# print(masked_sql)  # Output: "SELECT first_name FROM employees WHERE department = ''Sales''"

['first_name', 'employees', 'last_name', 'salary', 'department']
['first_name', 'employees', 'last_name', 'salary', 'department']

In [244]:
#Alles zusammen - Working for parsing fields from a sql statement. Decide to do it modularly, not sure why but this works. That is why
#works for where!!!
import sqlparse

def get_where_fields(query):
    parsed_query = sqlparse.parse(query)[0]
    where_clause = None
    for token in parsed_query.tokens:
        if isinstance(token, sqlparse.sql.Where):
            where_clause = token
            break
    if not where_clause:
        return []
    fields = []
    for token in where_clause.tokens:
        if isinstance(token, sqlparse.sql.Comparison):
            left = token.left
            if isinstance(left, sqlparse.sql.Identifier):
                fields.append(left.get_name())
            elif isinstance(left, sqlparse.sql.Function):
                fields.append(left.tokens[0].get_name())
    return fields

# Works for identifiers
def get_identifiers(query):
    parsed_tokens = sqlparse.parse(query)[0]
    identifier_set = set()
    for token in parsed_tokens:
        # If the token is a function, skip it
        if isinstance(token, sqlparse.sql.Function):
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                identifier_name = identifier.get_name()
                if '.' in identifier_name:
                    identifier_name = identifier_name.split('.')[1]
                identifier_set.add(identifier_name)
        elif isinstance(token, sqlparse.sql.Identifier):
            identifier_name = token.get_name()
            if '.' in identifier_name:
                identifier_name = identifier_name.split('.')[1]
            identifier_set.add(identifier_name)
        elif isinstance(token, sqlparse.sql.Comparison):
            identifier_name = token.get_name()
            identifier_set.add(identifier_name)
        elif isinstance(token, sqlparse.sql.Where):
            identifier_name = token.get_name()
            identifier_set.add(identifier_name)
        elif isinstance(token, sqlparse.sql.Function):
            continue
    return list(identifier_set)

import sqlparse
#query = "SELECT first_name, last_name FROM employees WHERE salary > 50000 AND department = 'Sales'"
query ="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id"
identifiers = get_identifiers(query)
# where_fields = get_where_fields(query)
# list_of_fields = identifiers + where_fields
# print(list_of_fields)
print(identifiers)

['order_number', 'o', None, 'sum', 'top', 'client_name', 'r', 'getdate']

#Finally working for this query.

In [252]:
import sqlparse

def get_identifiers(sql):
    parsed_tokens = sqlparse.parse(sql)[0]
    identifier_set = set()
    
    reserved_words = ['TOP', 'SELECT', 'FROM', 'WHERE', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'OUTER', 'ON', 'GROUP', 'BY', 'HAVING', 'ORDER', 'ASC', 'DESC']

    for token in parsed_tokens.tokens:
        # If the token is a function, skip it
        if isinstance(token, sqlparse.sql.Function) or token.value.upper() in reserved_words:
            continue
        if isinstance(token, sqlparse.sql.Function):
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    identifier_name = identifier.get_real_name()
                    if '.' in identifier_name:
                        identifier_name = identifier_name.split('.')[1]
                    identifier_set.add(identifier_name)
        # If the token is a comparison operator, get the column name
        elif isinstance(token, sqlparse.sql.Comparison):
            identifier_name = token.left.get_real_name()
            if '.' in identifier_name:
                identifier_name = identifier_name.split('.')[1]
            identifier_set.add(identifier_name)
        elif isinstance(token, sqlparse.sql.Identifier):
            identifier_name = token.get_real_name()
            if '.' in identifier_name:
                identifier_name = identifier_name.split('.')[1]
            identifier_set.add(identifier_name)
    return list(identifier_set)



query ="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_order in"
identifiers = get_identifiers(query)
print(identifiers)

['order_number', 'revenue', 'order_id', 'orders', 'client_name']

# Masking and Demasking

In [253]:
import re
import random

def masking(list_of_fields, sql):
    """
    This function takes in a list of words and a SQL string as input and replaces the words in the SQL string with random words.
    """
    # Create a dictionary to store the mapping between original words and masked words
    word_map = {}
    
    # Loop through each word in the list of words
    for word in list_of_fields:
        # Generate a random word to replace the original word
        random_word = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=len(word)))
        
        # Add the mapping to the dictionary
        word_map[word] = random_word
        
        # Replace the original word with the random word in the SQL string
        sql = re.sub(r'\b{}\b'.format(word), random_word, sql)
    
    # Return the masked SQL string and the word map
    return sql, word_map


def demasking(word_map, sql):
    """
    This function takes in a word map and a masked SQL string as input and replaces the masked words with their original words.
    """
    # Loop through each key-value pair in the word map
    for original_word, masked_word in word_map.items():
        # Replace the masked word with the original word in the SQL string
        sql_string = re.sub(r'\b{}\b'.format(masked_word), original_word, sql)
    
    # Return the demasked SQL string
    return sql_string

In [254]:
# Define the list of words to mask
words_to_mask = ['first_name', 'employees', 'last_name', 'salary', 'department']

# Define the SQL string to mask
sql = "SELECT first_name, last_name FROM employees WHERE salary > 50000 AND department = 'Sales'"

# Mask the SQL string
masked_sql_string, word_map = masking(words_to_mask, query)

# Print the masked SQL string and the word map
print("Masked SQL string:", masked_sql_string)
print("Word map:", word_map)

# Demask the SQL string
demasked_sql_string = demasking(word_map, masked_sql_string)

# Print the demasked SQL string
print("Demasked SQL string:", demasked_sql_string)

Masked SQL string: select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_order in
Word map: {'first_name': 'shyuckvdgw', 'employees': 'uudyfsqyx', 'last_name': 'rvecpyxir', 'salary': 'yqrvxk', 'department': 'uwlebjbjak'}
Demasked SQL string: select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_order in

In [222]:
# Define the list of words to mask
words_to_mask = ['client_name', 'r', 'top', 'order_number', 'sum', 'o', 'getdate']

# Define the SQL string to mask
query = "select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id"

# Mask the SQL string
masked_sql_string, word_map = masking(words_to_mask, query)

# Print the masked SQL string and the word map
print("Masked SQL string:", masked_sql_string)
print("Word map:", word_map)

Masked SQL string: select ciw 10 ufbdnsy(), wjdonbpitghk, ndyykbwdxur, tcv(net_revenue) from orders x join revenue y on x.order_id = y.order_id
Word map: {'client_name': 'ndyykbwdxur', 'r': 'y', 'top': 'ciw', 'order_number': 'wjdonbpitghk', 'sum': 'tcv', 'o': 'x', 'getdate': 'ufbdnsy'}

In [277]:
import sqlparse

def get_identifiers(sql):
    parsed_tokens = sqlparse.parse(sql)[0]
    identifier_set = set()

    reserved_words = ['TOP', 'SELECT', 'FROM', 'WHERE', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'OUTER', 'ON', 'GROUP', 'BY', 'HAVING', 'ORDER', 'ASC', 'DESC']

    def process_identifier(token, identifier_set):
        identifier_name = token.get_real_name()
        if '.' in identifier_name:
            identifier_name = identifier_name.split('.')[1]
        identifier_set.add(identifier_name)

    def process_function_arguments(token, identifier_set):
        if isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
        elif isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Parenthesis):
            for subtoken in token.tokens:
                process_function_arguments(subtoken, identifier_set)

    def add_identifiers_from_function(token, identifier_set):
        for subtoken in token.tokens:
            process_function_arguments(subtoken, identifier_set)

    def process_where(token, identifier_set):
        for subtoken in token.tokens:
            if isinstance(subtoken, sqlparse.sql.Comparison):
                process_identifier(subtoken.left, identifier_set)
            elif isinstance(subtoken, sqlparse.sql.Identifier):
                process_identifier(subtoken, identifier_set)

    for token in parsed_tokens.tokens:
        if isinstance(token, sqlparse.sql.Function):
            add_identifiers_from_function(token, identifier_set)
            continue
        if token.value.upper() in reserved_words:
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Comparison):
            process_identifier(token.left, identifier_set)
        elif isinstance(token, sqlparse.sql.Where):
            process_where(token, identifier_set)
        elif isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
    return list(identifier_set)

query = "select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_order in ('3245', '34244',  '4532')"
identifiers = get_identifiers(query)
print(identifiers)

['order_number', 'revenue', 'order_id', 'revenue_order', 'orders', 'client_name']

In [27]:
import re
import random

def masking(identifiers, sql):
    """
    This function takes in a list of identifiers and an SQL query as input, and replaces the identifiers in the SQL query with random words.
    """
    # Create a dictionary to store the mapping between original identifiers and masked words
    word_map = {}
    
    # Loop through each identifier in the list of identifiers
    for identifier in identifiers:
        # Generate a random word to replace the original identifier
        random_word = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=len(identifier)))
        
        # Add the mapping to the dictionary
        word_map[identifier] = random_word
        
        # Replace the original identifier with the random word in the SQL string
        sql = re.sub(r'\b{}\b'.format(identifier), random_word, sql)
    
    # Return the masked SQL string and the word map
    return sql, word_map


masked_sql_wordmap = masking(identifiers, query)
print(masked_sql_wordmap)

# Still missing the Where cluse pick up - I am missing revenue_order field. This needs to be added to identifiers function. Here I am then this is ready.

NameError: name 'identifiers' is not defined

In [28]:
def get_identifiers(sql):
    parsed_tokens = sqlparse.parse(sql)[0]
    identifier_set = set()

    reserved_words = ['TOP', 'SELECT', 'FROM', 'WHERE', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'OUTER', 'ON', 'GROUP', 'BY', 'HAVING', 'ORDER', 'ASC', 'DESC']

    def process_identifier(token, identifier_set):
        identifier_name = token.get_real_name()
        if '.' in identifier_name:
            identifier_name = identifier_name.split('.')[1]
        identifier_set.add(identifier_name)

    def process_function_arguments(token, identifier_set):
        if isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
        elif isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Parenthesis):
            for subtoken in token.tokens:
                process_function_arguments(subtoken, identifier_set)

    def add_identifiers_from_function(token, identifier_set):
        for subtoken in token.tokens:
            process_function_arguments(subtoken, identifier_set)

    def process_where(token, identifier_set):
        for subtoken in token.tokens:
            if isinstance(subtoken, sqlparse.sql.Comparison):
                process_identifier(subtoken.left, identifier_set)
            elif isinstance(subtoken, sqlparse.sql.Identifier):
                process_identifier(subtoken, identifier_set)

    for token in parsed_tokens.tokens:
        if isinstance(token, sqlparse.sql.Function):
            add_identifiers_from_function(token, identifier_set)
            continue
        if token.value.upper() in reserved_words:
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Comparison):
            process_identifier(token.left, identifier_set)
        elif isinstance(token, sqlparse.sql.Where):
            process_where(token, identifier_set)
        elif isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
    return list(identifier_set)

def sql_masking(identifiers, sql):
    """
    This function takes in a list of identifiers and an SQL query as input, and replaces the identifiers in the SQL query with random words.
    """
    # Create a dictionary to store the mapping between original identifiers and masked words
    word_map = {}
    
    # Loop through each identifier in the list of identifiers
    for identifier in identifiers:
        # Generate a random word to replace the original identifier
        random_word = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=len(identifier)))
        
        # Add the mapping to the dictionary
        word_map[identifier] = random_word
        
        # Replace the original identifier with the random word in the SQL string
        sql = re.sub(r'\b{}\b'.format(identifier), random_word, sql)
    
    # Return the masked SQL string and the word map
    return sql, word_map

In [29]:
sql="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_number in ('2345', '9908', '6671')"
sql2="""select K.a,K.b from (select H.b from (select G.c from (select F.d from (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;"""

In [30]:
list_of_fields = get_identifiers(sql)
print(list_of_fields)

['orders', 'order_number', 'client_name', 'revenue_number', 'order_id', 'revenue']

In [31]:
masked_sql, word_map  = sql_masking(list_of_fields, sql)
print(masked_sql)

select top 10 getdate(), ffjoiuesdgyx, fjcgirovzue, sum(net_revenue) from bjrpjh o join akplyhv r on o.stlsxbqe = r.stlsxbqe where zrprazzgybxcri in ('2345', '9908', '6671')

# Demask fields

In [32]:
def demasking(word_map, masked_sql):
    """
    This function takes in a word map and a masked SQL string as input and replaces the masked words with their original words.
    """
    # Loop through each key-value pair in the word map
    for original_word, masked_word in word_map.items():
        # Replace the masked word with the original word in the SQL string
        sql_string = re.sub(r'\b{}\b'.format(masked_word), original_word, sql)
    
    # Return the demasked SQL string
    return sql_string

In [33]:
# Demask the SQL string
demasked_sql = demasking(word_map, masked_sql)

# Print the demasked SQL string
print("Demasked SQL string:", demasked_sql)

Demasked SQL string: select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_number in ('2345', '9908', '6671')

## OpenAI

In [1]:
import openai
import os
from dotenv import load_dotenv
# loads .env file located in the current directory
load_dotenv() 

openai.api_key = os.getenv('OPENAI_API_KEY')

In [2]:
query="select vid, ctextid, createdby, Created, description, p.dCode, dense_rank() over (partition by vid,ctextid order by Created) as rn from cte3 cross apply openjson(info) with (dCode varchar(30) '$.dCode',Description varchar(30) '$.description') p), R1 as (select * from Q1 where rn = 1), R2 as (select * from Q1 where rn = 2), Q2 as (select coalesce(R1.vid, R2.vid) as vid, coalesce(R1.ctextid, R2.ctextid) as ctextid, R1.Description as Description1, R1.dCode as dCode1, R2.Description as Description2, R2.dCode as dCode2 from R1 full outer join R2 on R2.vid = R1.vid and R2.ctextid = R1.ctextid and R2.[Description] = R1.[Description]) select vid, ctextid, (select top(1) createdby from R1 where vid = t.vid and ctextid = t.ctextid) as codername, coalesce( string_agg(case when dCode1 <> dCode2 then dCode1 end, ', '), '') as correctedcode, coalesce( string_agg(case when dCode2 is null then dCode1 end, ', '), '') as deletedcode, coalesce( string_agg(case when dCode1 is null then dCode2 end, ', '), '') as addedcode from Q2 as t group by vid, ctextid order by vid"

In [3]:
# wrap the query string
query_two = "select h.iixctrvjg, h.uhczvi, h.mzxxvnfxrwmhdv, case when h.afprnxna is null then cast('06/09/1965' as date) else h.afprnxna end as afprnxna, h.khrcb, h.rmiuotcyosovtexo, h.cmvnonskhggg, h.ymrkz, h.rxfbop, h.jumlejbrvjeh, (select ct.number from NexusSuite.dbo.ClaimTransactions ct with (nolock) where ct.IsDeleted=0 and ct.[Key]=h.mzxxvnfxrwmhdv) as llmhiebazfms, case when NOT ( select top 1 cp.PolicyTransactionKey from NexusSuite.dbo.ClaimPolicies cp with (nolock) where cp.IsDeleted = 0 and cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv order by cp.[Key] desc ) is null then ( select top 1 pt.EffectiveDate from NexusSuite.dbo.PolicyTransactions pt with (nolock) where pt.IsDeleted = 0 and pt.[Key] = ( select top 1 cp.PolicyTransactionKey from NexusSuite.dbo.ClaimPolicies cp with (nolock) where cp.IsDeleted = 0 and cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv order by cp.[Key] desc ) ) else ( select top 1 cp.PolicyDate from NexusSuite.dbo.ClaimPolicies cp with (nolock) where cp.IsDeleted = 0 and cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv order by cp.[Key] desc ) end as cgumdtceaen, case when h.iixctrvjg = 'Loss Payments' then h.amount else 0 end bofavqlampcvx, case when h.iixctrvjg = 'Expense Payments' then h.amount else 0 end uputumbtmqjyolbw, case when h.iixctrvjg = 'Deductible Recoveries' then h.amount else 0 end ntcgwapznskrqtcvoghrg, case when h.iixctrvjg = 'Recoveries' then h.amount else 0 end jgvukysogr, case when h.iixctrvjg = 'Loss Reserves' then h.amount else 0 end iesyymzvcswej, case when h.iixctrvjg = 'Expense Reserves' then h.amount else 0 end rckwydvepayhvgnp, case when h.iixctrvjg = 'Prior Loss Reserves' then h.amount else 0 end nkkrbhcwchzqmttquzo, case when h.iixctrvjg = 'Prior Expense Reserves' then h.amount else 0 end lwaffwwvaegimvhgmtrkcc from ( select 'Loss Payments' as iixctrvjg, cp.[Key] as uhczvi, ct.[Key] as mzxxvnfxrwmhdv, ct.afprnxna, cp.khrcb, cp.rmiuotcyosovtexo, cp.Description as cmvnonskhggg, cp.ymrkz, cp.rxfbop, cp.Date as jumlejbrvjeh from NexusSuite.dbo.ClaimPayments cp with (nolock) inner join NexusSuite.dbo.ClaimCashTypes cct with (nolock) on cct.[Key] = cp.rmiuotcyosovtexo inner join NexusSuite.dbo.ClaimTransactions ct with (nolock)  on ct.[Key] = cp.mzxxvnfxrwmhdv where cp.IsDeleted = 0 and {% condition accounting_scope %} cp.khrcb {% endcondition %} and ( ( cp.khrcb = 'Underwriter' and  cct.ClaimAccountingClass = 'Loss') or ( cp.khrcb = 'Agent' and cct.ClaimAccountingClass in ( 'Loss','Deductible') ) ) --and cp.[Date] between @ReportStart and @ReportEnd and {% condition report_date %} cp.[Date] {% endcondition %} UNION ALL select 'Expense Payments' as iixctrvjg, cp.[Key] as uhczvi, ct.[Key] as mzxxvnfxrwmhdv, ct.afprnxna, cp.khrcb, cp.rmiuotcyosovtexo, cp.Description as cmvnonskhggg, cp.ymrkz, cp.rxfbop, cp.Date as jumlejbrvjeh from NexusSuite.dbo.ClaimPayments cp with (nolock) inner join NexusSuite.dbo.ClaimCashTypes cct with (nolock) on cct.[Key] = cp.rmiuotcyosovtexo inner join NexusSuite.dbo.ClaimTransactions ct with (nolock)  on ct.[Key] = cp.mzxxvnfxrwmhdv where cp.IsDeleted = 0 and {% condition accounting_scope %} cp.khrcb {% endcondition %} and cct.ClaimAccountingClass = 'Expense' and {% condition report_date %} cp.[Date] {% endcondition %} h"

In [4]:
to_sql="Snowflake"
from_sql="Transact-SQL"

In [53]:
def sql_dialectify(to_sql, masked_sql):
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": 'You are an expert SQL developer that is proficient in Transact-SQL, MySQL, PL/\SQL, PL/\pgSQL, SQLite, Snowflake SQL dialects.'},
            {"role": "system", "content": 'Only return the converted sql code and do not explain the conversion process.'},
            {"role": "system", "content": 'Check for the correctness of the entered SQL code. And make updates if necessary. List the changes succinctly in the chat.'},
            {"role": "system", "content": 'Let''s think step by step.'},
            {"role": "user", "content": f'Detect the dialect of the following SQL code: "{masked_sql}"'},
            {"role": "system", "content": f'Check and fix errors for the top common SQL syntax mistakes for the detected dialect. List updated parts of the following SQL code: "{masked_sql}"'},
            {"role": "user", "content": f'Convert the updated SQL code from detected dialect to "{to_sql}": "\n\n{masked_sql}"'}
        ]
    )
    converted_sql = completion.choices[0].message.content
    return converted_sql

In [57]:
import sqlparse
# print(sql_dialectify(to_sql, query))
print(sqlparse.format(sql_dialectify(to_sql, query_two), reindent=True, keyword_case='upper'))

There ARE a few changes I need TO make TO the SQL code TO CONVERT it TO the Snowflake dialect: 1.
REPLACE the USAGE OF `{% condition %}` WITH the equivalent Snowflake syntax. 2. Remove the `with (nolock)` statement. 3.
REPLACE the USE OF `top 1` WITH the Snowflake `LIMIT 1` clause. 4. Remove the `between @ReportStart and @ReportEnd` clause. Here's the updated SQL code
FOR Snowflake: ```
SELECT h.iixctrvjg,
       h.uhczvi,
       h.mzxxvnfxrwmhdv,
       CASE
           WHEN h.afprnxna IS NULL THEN DATE_FROM_PARTS(1965, 06, 09)
           ELSE h.afprnxna
       END AS afprnxna,
       h.khrcb,
       h.rmiuotcyosovtexo,
       h.cmvnonskhggg,
       h.ymrkz,
       h.rxfbop,
       h.jumlejbrvjeh,

  (SELECT ct.number
   FROM NexusSuite.dbo.ClaimTransactions ct
   WHERE ct.IsDeleted = 0
     AND ct."Key" = h.mzxxvnfxrwmhdv
   LIMIT 1) AS llmhiebazfms,
       CASE WHEN
  (SELECT cp.PolicyTransactionKey
   FROM NexusSuite.dbo.ClaimPolicies cp
   WHERE cp.IsDeleted = 0
     AND cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv
   ORDER BY cp."Key" DESC
   LIMIT 1) IS NOT NULL THEN (
SELECT pt.EffectiveDate
FROM NexusSuite.dbo.PolicyTransactions pt
WHERE pt.IsDeleted = 0
  AND pt."Key" = (
  SELECT cp.PolicyTransactionKey
  FROM NexusSuite.dbo.ClaimPolicies cp WHERE cp.IsDeleted = 0
  AND cp.mzxxvnfx

In [298]:

masked_converted_sql = sql_dialectify(to_sql, masked_sql)
# Display the converted SQL code
print(masked_converted_sql)

This is a Microsoft SQL Server specific syntax. In MySQL, we have to use LIMIT instead of TOP. Also, we don't have GETDATE() function in MySQL. Try the following code instead:

```
SELECT NOW(), blkyovxmofvp, imfutirkbqw, SUM(net_revenue)
FROM ciwvio o
JOIN rmegrla r ON o.zicjjvre = r.zicjjvre
WHERE ejammpwncomqtc IN ('2345', '9908', '6671')
LIMIT 10;
```

Note that `NOW()` returns the current date and time in MySQL. If you only want the current date, you can use `CURDATE()` instead.

In [58]:
def sql_dialectify_two(from_sql, to_sql, query):
    completion = openai.ChatCompletion.create(
        #model="gpt-3.5-turbo",
        model="gpt-4",
        messages=[
            {"role": "system", "content": 'You are an expert SQL developer proficient in Transact-SQL, MySQL, PL/SQL, PL/pgSQL, SQLite, and Snowflake SQL dialects, with a focus on ensuring high accuracy during conversion.'},
            {"role": "system", "content": 'Your task is to convert a specific SQL script from one dialect to another while maintaining the functionality and integrity of the original script.'},
            {"role": "system", "content": f'The source SQL dialect is "{from_sql}", and the target SQL dialect is "{to_sql}". Your goal is to perform a precise conversion while addressing any incompatibilities or differences.'},
            {"role": "system", "content": f'You will identify and address differences in data types and functions between the {from_sql} and {to_sql} dialects. For data types or functions without a direct equivalent, choose the most suitable alternative and include a comment in the converted SQL query explaining the change.'},
            {"role": "user", "content": f'Please convert the following SQL code from "{from_sql}" to "{to_sql}" while ensuring the highest level of accuracy in maintaining the original functionality: "\n\n{query}"'},
        ]
    )
    converted_sql = completion.choices[0].message.content
    return converted_sql

In [60]:
import sqlparse
# print(sql_dialectify(from_sql, to_sql, query))
print(sqlparse.format(sql_dialectify_two(from_sql, to_sql, query_two), reindent=True, keyword_case='upper'))

Here's the converted SQL code from Transact-SQL to Snowflake:

```
SELECT h.iixctrvjg, h.uhczvi, h.mzxxvnfxrwmhdv,
       COALESCE(h.afprnxna, TO_DATE('06/09/1965', 'MM/DD/YYYY')) AS afprnxna,
       h.khrcb, h.rmiuotcyosovtexo, h.cmvnonskhggg, h.ymrkz, h.rxfbop, h.jumlejbrvjeh,
       (SELECT ct.number
        FROM NexusSuite.dbo.ClaimTransactions ct
        WHERE ct.IsDeleted = 0
          AND ct."Key" = h.mzxxvnfxrwmhdv) AS llmhiebazfms,

       CASE WHEN (SELECT cp.PolicyTransactionKey
                   FROM NexusSuite.dbo.ClaimPolicies cp
                   WHERE cp.IsDeleted = 0
                     AND cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv
                   ORDER BY cp."Key" DESC
                   LIMIT 1) IS NOT NULL
           THEN (SELECT pt.EffectiveDate
                 FROM NexusSuite.dbo.PolicyTransactions pt
                 WHERE pt.IsDeleted = 0
                   AND pt."Key" = (SELECT cp.PolicyTransactionKey
                                   FROM NexusSuite.dbo.ClaimPolicies cp
                                   WHERE cp.IsDeleted = 0
                                     AND cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv
                                   ORDER BY cp."Key" DESC
                                   LIMIT 1))
           ELSE (SELECT cp.PolicyDate
                 FROM NexusSuite.dbo.ClaimPolicies cp
                 WHERE cp.IsDeleted = 0
                   AND cp.mzxxvnfxrwmhdv = h.mzxxvnfxrwmhdv
                 ORDER BY cp."Key" DESC
                 LIMIT 1)
       END AS cgumdtceaen,

       CASE WHEN h.iixctrvjg = 'Loss Payments'
           THEN h.amount
           ELSE 0
       END bofavqlampcvx,

       CASE WHEN h.iixctrvjg = 'Expense Payments'
           THEN h.amount
           ELSE 0
       END uputumbtmqjyolbw,

       CASE WHEN h.iixctrvjg = 'Deductible Recoveries'
           THEN h.amount
           ELSE 0
       END ntcgwapznskrqtcvoghrg,

       CASE WHEN h.iixctrvjg = 'Recoveries'
           THEN h.amount
           ELSE 0
       END jgvukysogr,

       CASE WHEN h.iixctrvjg = 'Loss Reserves'
           THEN h.amount
           ELSE 0
       END iesyymzvcswej,

       CASE WHEN h.iixctrvjg = 'Expense Reserves'
           THEN h.amount
           ELSE 0
       END rckwydvepayhvgnp,

       CASE WHEN h.iixctrvjg = '
PRIOR Loss Reserves'
           THEN h.amount
           ELSE 0
       END nkkrbhcwchzqmttquzo,

       CASE WHEN h.iixctrvjg = '
PRIOR Expense Reserves'
           THEN h.amount
           ELSE 0
       END lwaffwwvaegimvhgmtrkcc
FROM
  (SELECT 'Loss Payments' AS iixctrvjg,
                        cp."Key" AS uhczvi,
                        ct."Key" AS mzxxvnfxrwmhdv,
                        ct.afprnxna, ...

In [1]:
query="""select r.transaction_key,
    isnull(sum(r.net_premium),0) as net_premium,
    isnull(sum(r.payment_amount),0) as payment_amount,
    isnull(sum(r.net_premium),0) - isnull(sum(r.payment_amount),0) as balance_due
    from (
    select
    p.TransactionKey as transaction_key,
    isnull(sum(p.NetPremium),0) as net_premium,
    0 as payment_amount
    from NexusSuite.dbo.policies p with (nolock)
    INNER JOIN NexusSuite.dbo.policytransactions pt with (nolock) on pt.[Key] = p.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c with (nolock) on c.[Key] = pt.CompanyKey and c.CompanyType in (0,1,2,3)
    where
    p.IsDeleted = 0 and p.IsVoided = 0 and pt.IsDeleted=0 and c.[key] > 1
     and p.CreatedDate between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime)
     group by p.TransactionKey

    union all

    --------------------------------------------------------------------------------------------------------------------
    --bof: get endorsements
    --------------------------------------------------------------------------------------------------------------------
    select
    e.TransactionKey,
    isnull(sum(e.NetPremium),0) as NetPremium,
    0 as payment_amount
    from NexusSuite.dbo.endorsements e with (nolock)
    INNER JOIN NexusSuite.dbo.policytransactions pt with (nolock) on pt.[Key] = e.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c with (nolock) on c.[Key] = pt.CompanyKey and c.CompanyType in (0,1,2,3)
    where e.IsDeleted = 0 and e.IsVoided = 0 and pt.IsDeleted=0 and c.[key] > 1
    and e.CreatedDate between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime)
    group by e.TransactionKey

    union all

    --------------------------------------------------------------------------------------------------------------------
    --bof: get cpls
    --------------------------------------------------------------------------------------------------------------------
    select
    c.TransactionKey,
    isnull(sum(c.NetPremium),0) as NetPremium,
    0 as payment_amount
    from NexusSuite.dbo.cpls c with (nolock)
    INNER JOIN NexusSuite.dbo.policytransactions pt with (nolock) on pt.[Key] = c.TransactionKey
    INNER JOIN NexusSuite.dbo.companies co with (nolock) on co.[Key] = pt.CompanyKey and co.CompanyType in (0,1,2,3)
    where
    c.IsDeleted = 0 and c.IsVoided = 0 and pt.IsDeleted=0 and co.[key] > 1
    and c.CreatedDate between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime)
    group by c.TransactionKey

    union all

    --------------------------------------------------------------------------------------------------------------------
    --bof: get adjustments
    --------------------------------------------------------------------------------------------------------------------
    select
    a.TransactionKey,
    isnull(sum(a.NetPremium),0) as NetPremium,
    0 as payment_amount
    from NexusSuite.dbo.Adjustments a with (nolock)
    INNER JOIN NexusSuite.dbo.policytransactions pt with (nolock) on pt.[Key] = a.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c with (nolock) on c.[Key] = pt.CompanyKey and c.CompanyType in (0,1,2,3)
    where a.IsDeleted = 0 and pt.IsDeleted=0 and c.[key] > 1
    and a.[CreatedDate] between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime)
    group by a.TransactionKey

    union all
    select
    f.TransactionKey, isnull(sum(f.Amount),0) as NetPremium, 0 as payment_amount from NexusSuite.dbo.fees f with (nolock) INNER join NexusSuite.dbo.PolicyTransactions pt with (nolock) on pt.[key] = f.TransactionKey INNER JOIN NexusSuite.dbo.companies c with (nolock) on c.[Key] = pt.CompanyKey and c.CompanyType in (0,1,2,3) where f.IsDeleted = 0 and pt.IsDeleted=0 and c.[key] > 1 and f.CreatedDate between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime) group by f.TransactionKey union all select re.TransactionKey, isnull(sum(re.AgentReceivable),0) as NetPremium, 0 as payment_amountfrom NexusSuite.dbo.Reinsurance re with (nolock) INNER JOIN NexusSuite.dbo.policytransactions pt with (nolock) on pt.[Key] = re.TransactionKey INNER JOIN NexusSuite.dbo.companies c with (nolock) on c.[Key] = pt.CompanyKey and c.CompanyType in (0,1,2,3) where re.IsDeleted = 0 and pt.IsDeleted=0 and c.[key] > 1 
    and re.CreatedDate between cast('01/01/1900' as datetime) and cast(getdate()-1 as datetime) group by re.TransactionKey
    """

to_sql="Snowflake-cloud-data-platform"
from_sql="Transact-SQL"

In [7]:
def sql_dialectify(from_sql, to_sql, original_sql, mask_fields=False, identifiers=None):
    # If mask_fields is True, mask the fields using the provided sql_masking function
    if mask_fields and identifiers:
        masked_sql, word_map = sql_masking(identifiers, original_sql)
    else:
        masked_sql = original_sql

    completion = openai.ChatCompletion.create(
        #model="gpt-4",
        model="gpt-3.5-turbo",
        temperature=0.2,
        messages=[
           {"role": "system", "content": 'Act as CODEX ("COding DEsign eXpert"), an expert coder with proficiency in SQL programming language.'},
            {"role": "system", "content": 'You are proficient in Transact-SQL, MySQL, PL/SQL, PL/pgSQL, SQLite, and Snowflake SQL dialects, with a focus on high accuracy dialect to dialect conversions.'},
            {"role": "system", "content": 'Your task is to convert a specific SQL script from one SQL dialect to another SQL dialect while maintaining the functionality and integrity of the original script.'},
            {"role": "system", "content": f'The source SQL dialect is "{from_sql}", and the target SQL dialect is "{to_sql}". Your goal is to perform a precise SQL dialect conversion while addressing any incompatibilities or differences.'},
            {"role": "system", "content": 'Always follow the coding best practices by writing clean, modular code with proper security measures and leveraging design patterns.'},
            {"role": "system", "content": f'Let''s think step by step. First, you will identify the differences between the {from_sql} and {to_sql} dialects. Then, you will convert the SQL code from {from_sql} to {to_sql} while ensuring the highest level of accuracy in maintaining the original functionality.'},
            {"role": "system", "content": f'You will identify and address differences in data types and functions between the {from_sql} and {to_sql} dialects. For data types or functions without a direct equivalent, choose the most suitable alternative'},
            {"role": "system", "content": 'You will return your answers in two sections. In the first section you will return the converted sql query in a code block and you will add a semi colon (;) at the end of the query if it was not inputted. You will title this section as "\n # Converted SQL: ".'},
            {"role": "system", "content": 'In the second section you will return any comments and the explanations of the changes in bulled points. You will title this section as "\n List of changes: ".'},
            {"role": "user", "content": f'Convert the following SQL code from "{from_sql}" to "{to_sql}" while ensuring the highest level of accuracy in maintaining the original functionality: ```\n\n{masked_sql}```'},
        
        ]
    )

    converted_sql = completion.choices[0].message.content

    # If mask_fields is True, replace the masked words with the original identifiers
    if mask_fields and identifiers:
        for original, masked in word_map.items():
            converted_sql = converted_sql.replace(masked, original)

    return converted_sql

In [8]:
import sqlparse
# print(sql_dialectify(from_sql, to_sql, query))
text = sqlparse.format(sql_dialectify(from_sql, to_sql, query), reindent=True, keyword_case='upper')
print(text)

# Converted SQL:
 ```
select vid, ctextid, createdby, Created, description, p.dCode, dense_rank() over (partition by vid,ctextid order by Created) as rn from cte3, lateral flatten(input => parse_json(info), path => 'p') p, R1 as (select * from Q1 where rn = 1), R2 as (select * from Q1 where rn = 2), Q2 as (select coalesce(R1.vid, R2.vid) as vid, coalesce(R1.ctextid, R2.ctextid) as ctextid, R1.Description as Description1, R1.dCode as dCode1, R2.Description as Description2, R2.dCode as dCode2 from R1 full outer join R2 on R2.vid = R1.vid and R2.ctextid = R1.ctextid and R2."Description" = R1."Description") select vid, ctextid, (select top(1) createdby from R1 where vid = t.vid and ctextid = t.ctextid) as codername, coalesce( listagg(case when dCode1 <> dCode2 then dCode1 end, ', ') within group (order by dCode1), '') as correctedcode, coalesce( listagg(case when dCode2 is null then dCode1 end, ', ') within group (order by dCode1), '') as deletedcode, coalesce( listagg(case when dCode1 is null then dCode2 end, ', ') within group (order by dCode2), '') as addedcode from Q2 as t group by vid, ctextid order by vid;
``` List OF changes: - Replaced "cross apply" WITH "lateral flatten". - Replaced "coalesce(R2.[Description], R1.[Description])" WITH "coalesce(R2."Description", R1."Description")". - Replaced "string_agg" WITH "listagg". - Replaced "top(1)" WITH "limit 1".

In [89]:
# Extracting and storing the text for each variable
variable1_text = text.split("``` ")[0]

variable2_text = text.split("``` ")[-1]

#print(sqlparse.format(variable1_text, reindent=True, keyword_case='upper'))
#print(variable2_text)
print(variable1_text)

#Converted SQL: ```
SELECT r.transaction_key,
    COALESCE(SUM(r.net_premium), 0) AS net_premium,
    COALESCE(SUM(r.payment_amount), 0) AS payment_amount,
    COALESCE(SUM(r.net_premium), 0) - COALESCE(SUM(r.payment_amount), 0) AS balance_due
FROM (
    SELECT
        p.TransactionKey AS transaction_key,
        COALESCE(SUM(p.NetPremium), 0) AS net_premium,
        0 AS payment_amount
    FROM NexusSuite.dbo.policies p
    INNER JOIN NexusSuite.dbo.policytransactions pt ON pt.[Key] = p.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c ON c.[Key] = pt.CompanyKey AND c.CompanyType IN (0, 1, 2, 3)
    WHERE
        p.IsDeleted = 0 AND p.IsVoided = 0 AND pt.IsDeleted = 0 AND c.[key] > 1
        AND p.CreatedDate BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY p.TransactionKey

    UNION ALL

    --------------------------------------------------------------------------------------------------------------------
    --bof: get endorsements
    --------------------------------------------------------------------------------------------------------------------
    SELECT
        e.TransactionKey,
        COALESCE(SUM(e.NetPremium), 0) AS NetPremium,
        0 AS payment_amount
    FROM NexusSuite.dbo.endorsements e
    INNER JOIN NexusSuite.dbo.policytransactions pt ON pt.[Key] = e.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c ON c.[Key] = pt.CompanyKey AND c.CompanyType IN (0, 1, 2, 3)
    WHERE e.IsDeleted = 0 AND e.IsVoided = 0 AND pt.IsDeleted = 0 AND c.[key] > 1
        AND e.CreatedDate BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY e.TransactionKey

    UNION ALL

    --------------------------------------------------------------------------------------------------------------------
    --bof: get cpls
    --------------------------------------------------------------------------------------------------------------------
    SELECT
        c.TransactionKey,
        COALESCE(SUM(c.NetPremium), 0) AS NetPremium,
        0 AS payment_amount
    FROM NexusSuite.dbo.cpls c
    INNER JOIN NexusSuite.dbo.policytransactions pt ON pt.[Key] = c.TransactionKey
    INNER JOIN NexusSuite.dbo.companies co ON co.[Key] = pt.CompanyKey AND co.CompanyType IN (0, 1, 2, 3)
    WHERE
        c.IsDeleted = 0 AND c.IsVoided = 0 AND pt.IsDeleted = 0 AND co.[key] > 1
        AND c.CreatedDate BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY c.TransactionKey

    UNION ALL

    --------------------------------------------------------------------------------------------------------------------
    --bof: get adjustments
    --------------------------------------------------------------------------------------------------------------------
    SELECT
        a.TransactionKey,
        COALESCE(SUM(a.NetPremium), 0) AS NetPremium,
        0 AS payment_amount
    FROM NexusSuite.dbo.Adjustments a
    INNER JOIN NexusSuite.dbo.policytransactions pt ON pt.[Key] = a.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c ON c.[Key] = pt.CompanyKey AND c.CompanyType IN (0, 1, 2, 3)
    WHERE a.IsDeleted = 0 AND pt.IsDeleted = 0 AND c.[key] > 1
        AND a.[CreatedDate] BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY a.TransactionKey

    UNION ALL
    SELECT
        f.TransactionKey, COALESCE(SUM(f.Amount), 0) AS NetPremium, 0 AS payment_amount
    FROM NexusSuite.dbo.fees f
    INNER JOIN NexusSuite.dbo.PolicyTransactions pt ON pt.[key] = f.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c ON c.[Key] = pt.CompanyKey AND c.CompanyType IN (0, 1, 2, 3)
    WHERE f.IsDeleted = 0 AND pt.IsDeleted = 0 AND c.[key] > 1
        AND f.CreatedDate BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY f.TransactionKey

    UNION ALL

    SELECT re.TransactionKey, COALESCE(SUM(re.AgentReceivable), 0) AS NetPremium, 0 AS payment_amount
    FROM NexusSuite.dbo.Reinsurance re
    INNER JOIN NexusSuite.dbo.policytransactions pt ON pt.[Key] = re.TransactionKey
    INNER JOIN NexusSuite.dbo.companies c ON c.[Key] = pt.CompanyKey AND c.CompanyType IN (0, 1, 2, 3)
    WHERE re.IsDeleted = 0 AND pt.IsDeleted = 0 AND c.[key] > 1
        AND re.CreatedDate BETWEEN '1900-01-01'::DATE AND (CURRENT_DATE - INTERVAL '1 day')
    GROUP BY re.TransactionKey
) r
GROUP BY r.transaction_key;

In [70]:
def bullet_points_to_list(text):
    lines = text.split('\n')
    items = [line.strip().replace('-', '').strip() for line in lines if line.strip()]
    return items

formatted_list = bullet_points_to_list(variable2_text)
print(formatted_list)

['#Details:  Replaced "isnull" WITH "NVL" FUNCTION AS Snowflake does NOT support "isnull" function.  Replaced "cast" FUNCTION WITH "to_date" FUNCTION AS Snowflake does NOT support "cast" function.  Replaced "getdate()" FUNCTION WITH "current_date()" FUNCTION AS Snowflake does NOT support "getdate()" function.  Replaced square brackets around COLUMN NAMES WITH DOUBLE quotes AS Snowflake does NOT support square brackets.  Removed "(nolock)"', 'FROM the query AS Snowflake does NOT support this syntax.  Added semicolon AT the END OF the query.']

# Add _view

In [11]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML, Name


def extract_table_identifiers(token_stream):
    for item in token_stream:
        if isinstance(item, Identifier):
            yield item.get_real_name()
        elif isinstance(item, IdentifierList):
            for identifier in item.get_identifiers():
                if isinstance(identifier, Identifier):
                    yield identifier.get_real_name()


def append_view_to_tables(sql, tables):
    updated_sql = sql
    for table in tables:
        updated_sql = updated_sql.replace(table, f"{table}_view")
    return updated_sql


def extract_tables(sql):
    parsed = sqlparse.parse(sql)[0]
    token_stream = extract_table_identifiers(parsed.tokens)
    table_set = set()

    for token in token_stream:
        if token.upper() != "AS":
            table_set.add(token)

    return list(table_set)


if __name__ == '__main__':
    sql = """
    select K.a,K.b from (select H.b from (select G.c from (select F.d from
    (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;
    """

    tables = extract_tables(sql)
    updated_sql = append_view_to_tables(sql, tables)

    print('Original SQL:\n', sql)
    print('Updated SQL:\n', updated_sql)

Original SQL:

    select K.a,K.b from (select H.b from (select G.c from (select F.d from
    (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;

Updated SQL:

    select K_view.a_view,K_view.b_view from (select H.b_view from (select G.c from (select F.d from
    (select E.e from A, B, C, D, E), F), G), H), I_view, J_view, K_view order b_viewy 1,2;

In [9]:
#sql="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_number in ('2345', '9908', '6671')"

if __name__ == '__main__':
    sql = """
    select K.a,K.b from (select H.b from (select G.c from (select F.d from
    (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;
    """

    tables = extract_tables(sql)
    updated_sql = append_view_to_tables(sql, tables)
    print('Tables:', tables)

AttributeError: 'Token' object has no attribute 'get_real_name'

In [1]:
def split_text_and_code(input_string):
    """
    This function takes in a string as input and returns two strings - text and code.
    The code is the portion within triple quotes, and the text is the rest of the string.
    """
    # Find the index of the first occurrence of triple quotes
    start_index = input_string.find('"""')
    
    # If triple quotes are not found, return the entire string as text and an empty string as code
    if start_index == -1:
        return input_string.strip(), ""
    
    # Find the index of the second occurrence of triple quotes
    end_index = input_string.find('"""', start_index + 3)
    
    # If the second occurrence of triple quotes is not found, return the entire string as text and an empty string as code
    if end_index == -1:
        return input_string.strip(), ""
    
    # Extract the text before the triple quotes and the code between the triple quotes
    text = input_string[:start_index].strip()
    code = input_string[start_index+3:end_index].strip()
    
    return text, code

In [2]:
input_string = "The SQL code cannot be directly converted to MySQL as it contains a few syntax errors specific to MS SQL Server. Here are the corrected SQL code to be used for the conversion:\n\n```mysql\nSELECT CAST(NOW() AS DATE), xzxpaynvykdy, zaoejvuuefv, SUM(net_revenue) \nFROM fhwdiv o \nJOIN zhmpjpo r \nON o.tzmiorqu = r.tzmiorqu \nWHERE eazuotfoyhdfcx IN ('2345', '9908', '6671')\nLIMIT 10;\n```"

text, code = split_text_and_code(input_string)

print("Text:")
print(text)

print("\nCode:")
print(code)

Text:
The SQL code cannot be directly converted to MySQL as it contains a few syntax errors specific to MS SQL Server. Here are the corrected SQL code to be used for the conversion:

```mysql
SELECT CAST(NOW() AS DATE), xzxpaynvykdy, zaoejvuuefv, SUM(net_revenue)
FROM fhwdiv o
JOIN zhmpjpo r
ON o.tzmiorqu = r.tzmiorqu
WHERE eazuotfoyhdfcx IN ('2345', '9908', '6671')
LIMIT 10;
```

Code:

In [13]:
import re
import requests
import os
import streamlit as st
import openai
from dotenv import load_dotenv
# loads .env file located in the current directory
load_dotenv() 

import sqlparse
import random
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML, Name
to_sql = "Snowflake"
sql="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_number in ('2345', '9908', '6671')"

# Extract fields for masking - identifier_set

def get_identifiers(sql):
    parsed_tokens = sqlparse.parse(sql)[0]
    identifier_set = set()

    reserved_words = ['TOP', 'SELECT', 'FROM', 'WHERE', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'OUTER', 'ON', 'GROUP', 'BY', 'HAVING', 'ORDER', 'ASC', 'DESC']

    def process_identifier(token, identifier_set):
        identifier_name = token.get_real_name()
        if '.' in identifier_name:
            identifier_name = identifier_name.split('.')[1]
        identifier_set.add(identifier_name)

    def process_function_arguments(token, identifier_set):
        if isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
        elif isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Parenthesis):
            for subtoken in token.tokens:
                process_function_arguments(subtoken, identifier_set)

    def add_identifiers_from_function(token, identifier_set):
        for subtoken in token.tokens:
            process_function_arguments(subtoken, identifier_set)

    def process_where(token, identifier_set):
        for subtoken in token.tokens:
            if isinstance(subtoken, sqlparse.sql.Comparison):
                process_identifier(subtoken.left, identifier_set)
            elif isinstance(subtoken, sqlparse.sql.Identifier):
                process_identifier(subtoken, identifier_set)

    for token in parsed_tokens.tokens:
        if isinstance(token, sqlparse.sql.Function):
            add_identifiers_from_function(token, identifier_set)
            continue
        if token.value.upper() in reserved_words:
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier, identifier_set)
        elif isinstance(token, sqlparse.sql.Comparison):
            process_identifier(token.left, identifier_set)
        elif isinstance(token, sqlparse.sql.Where):
            process_where(token, identifier_set)
        elif isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token, identifier_set)
    return list(identifier_set)

def sql_masking(identifiers, sql):
    """
    This function takes in a list of identifiers and an SQL query as input, and replaces the identifiers in the SQL query with random words.
    """
    # Create a dictionary to store the mapping between original identifiers and masked words
    word_map = {}
    
    # Loop through each identifier in the list of identifiers
    for identifier in identifiers:
        # Generate a random word to replace the original identifier
        random_word = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=len(identifier)))
        
        # Add the mapping to the dictionary
        word_map[identifier] = random_word
        
        # Replace the original identifier with the random word in the SQL string
        sql = re.sub(r'\b{}\b'.format(identifier), random_word, sql)
    
    # Return the masked SQL string and the word map
    return sql, word_map

def sql_dialectify(to_sql, masked_sql):
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": 'You are an expert SQL developer that is proficient in MS SQL Server, MySQL, Oracle, PostgreSQL, SQLite, Snowflake SQL dialects.'},
            {"role": "system", "content": 'Only return the converted sql code and do not explain the conversion process.'},
            {"role": "system", "content": 'Check for the correctness of the entered SQL code. And make updates if necessary. List the changes succinctly in the chat.'},
            {"role": "system", "content": 'Let''s think step by step.'},
            {"role": "user", "content": f'Detect the dialect of the following SQL code: "{masked_sql}"'},
            {"role": "system", "content": f'Check and fix errors for the top common SQL syntax mistakes for the detected dialect. List updated parts of the following SQL code: "{masked_sql}"'},
            {"role": "user", "content": f'Convert the updated SQL code from detected dialect to "{to_sql}": "\n\n{masked_sql}"'}
        ]
    )
    converted_sql = completion.choices[0].message.content
    return converted_sql

# Demask Converted SQL

def demasking(word_map, masked_sql):
    """
    This function takes in a word map and a masked SQL string as input and replaces the masked words with their original words.
    """
    demasked_sql = masked_sql

    # Loop through each key-value pair in the word map
    for original_word, masked_word in word_map.items():
        # Replace the masked word with the original word in the SQL string
        demasked_sql = re.sub(r'\b{}\b'.format(masked_word), original_word, demasked_sql)
    
    # Return the demasked SQL string
    return demasked_sql


# Convert SQL dialect

list_of_fields = get_identifiers(sql)
masked_sql, word_map = sql_masking(list_of_fields, sql)
print(masked_sql)
print(word_map)
print(list_of_fields)

select top 10 getdate(), aqqddmhwgxte, zfzxhmzsvdb, sum(net_revenue) from tckvql o join udghcyk r on o.devgbttq = r.devgbttq where edgygahbmavogp in ('2345', '9908', '6671')
{'revenue': 'udghcyk', 'client_name': 'zfzxhmzsvdb', 'revenue_number': 'edgygahbmavogp', 'orders': 'tckvql', 'order_id': 'devgbttq', 'order_number': 'aqqddmhwgxte'}
['revenue', 'client_name', 'revenue_number', 'orders', 'order_id', 'order_number']

In [14]:
masked_converted_sql = sql_dialectify(to_sql, masked_sql)
demasked_sql = demasking(word_map, masked_converted_sql)
print(word_map)
print(masked_sql)
print(masked_converted_sql)
print(demasked_sql)

{'revenue': 'udghcyk', 'client_name': 'zfzxhmzsvdb', 'revenue_number': 'edgygahbmavogp', 'orders': 'tckvql', 'order_id': 'devgbttq', 'order_number': 'aqqddmhwgxte'}
select top 10 getdate(), aqqddmhwgxte, zfzxhmzsvdb, sum(net_revenue) from tckvql o join udghcyk r on o.devgbttq = r.devgbttq where edgygahbmavogp in ('2345', '9908', '6671')
This query can be converted from MS SQL Server to Snowflake by changing "TOP" clause to "LIMIT" and removing "getdate()" function, as it is not supported in Snowflake. Here's the converted code:

```
SELECT aqqddmhwgxte, zfzxhmzsvdb, SUM(net_revenue)
FROM tckvql o
JOIN udghcyk r ON o.devgbttq = r.devgbttq
WHERE edgygahbmavogp IN ('2345', '9908', '6671')
LIMIT 10;
```
This query can be converted from MS SQL Server to Snowflake by changing "TOP" clause to "LIMIT" and removing "getdate()" function, as it is not supported in Snowflake. Here's the converted code:

```
SELECT order_number, client_name, SUM(net_revenue)
FROM orders o
JOIN revenue r ON o.order_id = r.order_id
WHERE revenue_number IN ('2345', '9908', '6671')
LIMIT 10;
```

# New Start - adding it all into a single function
- Toggle to add _view to the returned results. Encode and decode has to be done (Run both find table and add _view functions in a single function together. The idea should be to find the tables and append _view at that time and not call them and append them back by word. I guess I can Mask them as I extract the words as well. That is probably why the masking is not working as intended. So one function to do many things..

In [9]:
sql="select top 10 getdate(), order_number, client_name, sum(net_revenue) from orders o join revenue r on o.order_id = r.order_id where revenue_number in ('2345', '9908', '6671')"
sql2="""select K.a,K.b from (select H.b from (select G.c from (select F.d from (select E.e from A, B, C, D, E), F), G), H), I, J, K order by 1,2;"""

In [2]:
import re
import requests
import os
import streamlit as st
import openai
from dotenv import load_dotenv
# loads .env file located in the current directory
load_dotenv() 

import sqlparse
import random
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML, Name

import time

openai.api_key = os.getenv('OPENAI_API_KEY')

# Parse

In [10]:
import sqlparse
import re

def parse_sql(sql):
    """
    This function takes in an SQL query as input and returns a list of identifiers.
    """
    def process_identifier(token):
        identifier_name = token.get_real_name()
        if '.' in identifier_name:
            identifier_name = identifier_name.split('.')[1]
        if not re.match(r"(TOP|LIMIT)$", identifier_name, re.IGNORECASE):
            identifier_set.add(identifier_name)

    def process_function_arguments(token):
        if isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token)
        elif isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier)
        elif isinstance(token, sqlparse.sql.Parenthesis):
            for subtoken in token.tokens:
                process_function_arguments(subtoken)

    def add_identifiers_from_function(token):
        if not re.match(r"^(COUNT|SUM|AVG|MIN|MAX|FIRST|LAST)$", token.get_name(), re.IGNORECASE):
            for subtoken in token.tokens:
                process_function_arguments(subtoken)

    def process_where(token):
        for subtoken in token.tokens:
            if isinstance(subtoken, sqlparse.sql.Comparison): 
                process_identifier(subtoken.left)         
            elif isinstance(subtoken, sqlparse.sql.Identifier): 
                process_identifier(subtoken)

# Parse the SQL query
    parsed_tokens = sqlparse.parse(sql)[0]
    identifier_set = set()

    for token in parsed_tokens.tokens:
        if isinstance(token, sqlparse.sql.Function): 
            add_identifiers_from_function(token)
            continue
        if isinstance(token, sqlparse.sql.IdentifierList):
            for identifier in token.get_identifiers():
                if isinstance(identifier, sqlparse.sql.Identifier):
                    process_identifier(identifier)
        elif isinstance(token, sqlparse.sql.Comparison):
            process_identifier(token.left)
        elif isinstance(token, sqlparse.sql.Where):
            process_where(token)
        elif isinstance(token, sqlparse.sql.Identifier):
            process_identifier(token)

    return list(identifier_set)

In [12]:
parse_sql(sql)

['orders',
 'order_number',
 'client_name',
 'order_id',
 'revenue_number',
 'revenue']

# Mask